.color-blue {
  background: #0accff;
  color:#ffff;
  width:  100%;
  font-size: 24px; 
 
}

.radius20 {
      border-radius: 10px ;
      box-shadow: 0px 6px 10px 0px rgba(0,0,0,1);

}

.title-text {
  font-size: 3em; 
  text-align: left; 
  color: white; 
}