<div>
  <form (ngSubmit)="onSubmitMealForm()" #mealForm="ngForm">
    <h3 class="title-text"> Create a meal</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-edit"></i></span>
      </div>

      <input type="text" class="form-control" [ngClass]="{'is-invalid': name.touched && name.errors}" placeholder="Ex: The Best Home Tortilla in Alicante"
        name="name" [(ngModel)]="meal.name" #name="ngModel" required>
      <div class="invalid-feedback" *ngIf="name.errors && name.touched && name.errors.required">
        Please enter a name for meal.
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-edit"></i></span>
      </div>
      <textarea type="text" class="form-control" [ngClass]="{'is-invalid': description.touched && description.errors}"
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        name="description" [(ngModel)]="meal.description" #description="ngModel" required></textarea>
      <div class="invalid-feedback" *ngIf="description.errors && description.touched && description.errors.required">
        Please enter a description, madafaca.
      </div>
    </div>


    <div class="input-group mb-3">
      <label for="coordinates"></label>
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-edit"></i></span>
      </div>
      <input type="text" placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" required
        class="form-control" #search>

    </div>




    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-eur"></i></span>
      </div>
      <input type="number" min="0.1" class="form-control" aria-label="Amount (to the nearest dollar)" [ngClass]="{'is-invalid': price.touched && price.errors}"
        placeholder="19.95" name="price" [(ngModel)]="meal.price" #price="ngModel" required>
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
      <div class="invalid-feedback" *ngIf="price.errors && price.touched && price.errors.required">
        If you want to give away your food for free, I'll give you my address
      </div>
    </div>




    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-battery-full"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Ingredient" name="ingredient" #ingredient>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="onClickAddIngredient(ingredient)"><i class="fa fa-plus"></i></button>
      </div>
    </div>

    <div class="input-group mb-3" *ngFor="let ingredient of meal.ingredients">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-battery-quarter"></i></span>
      </div>
      <input type="text" class="form-control" name="ingredients" [value]="ingredient" disabled readonly>
      <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" (click)="onClickRemoveIngredient(ingredient)"><i class="fa fa-minus"></i></button>
      </div>
    </div>


 

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-pie-chart"></i></span>
      </div>
      <input type="number" min="1" class="form-control" [ngClass]="{'is-invalid': portions.touched && portions.errors}"
        placeholder="Number of portions availvable" name="portions" [(ngModel)]="meal.portions" #portions="ngModel"
        required>
      <div class="invalid-feedback" *ngIf="portions.errors && portions.touched && portions.errors.required">
        How many portions are available for sale?
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01">
        <label class="custom-file-label" for="inputGroupFile01">Pic of meal</label>
      </div>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-exclamation"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Tag" name="tag" #tag>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="onClickAddTag(tag)"><i class="fa fa-plus"></i></button>
      </div>
    </div>

    <div class="input-group mb-3" *ngFor="let tag of meal.tags">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-binoculars"></i></span>
      </div>
      <input type="text" class="form-control" name="tags" [value]="tag" disabled readonly>
      <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" (click)="onClickRemoveTag(tag)"><i class="fa fa-minus"></i></button>
      </div>
    </div>


    <br>



    <button type="submit" [disabled]="!mealForm.valid" class="btn shadow mb-3 p-2 color-blue radius20">Create Meal</button>
  </form>
</div>