<div class="arrow fixed-top">
    <button type="button" class="btn color-blue radius20" [routerLink]="['/meals']">
        <i class="fa fa-arrow-left" aria-hidden="true">
        </i>
    </button>
  </div>

  <div class="jumbotron jumbotron-fluid">
      <div *ngFor="let image of meal.images">
          <img class="card-img-top" [src]="image" alt="Card image cap">
        </div>
      <div class="container">
        <h1 class="display-4">{{meal.name}}</h1>
        <hr class="my-4">
        <p class="lead">{{meal.description}}</p>
        <span *ngFor="let tag of meal.tags" class="badge badge-info">{{tag}}</span>
      </div>
    </div>
    <br>
    <div class="card shadow" style="width: 18rem;">
        <div class="card-header">
          Ingredients
        </div>
        <ul *ngFor="let ingredient of meal.ingredients" class="list-group list-group-flush">
          <li class="list-group-item" >{{ingredient}}</li>
        </ul>
      </div>
      <br>
      <div class="fixed-bottom shadow-lg p-2">
          <button type="button" class="btn-lg btn-block color-blue radius20" [routerLink]="['/success']" >
              <i class="fa fa-shopping-cart" aria-hidden="true">
              </i>
              FEED ME THIS NOW!
          </button>
      </div>

      <div class="card shadow">
          <h5 class="card-header">Reviews</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" [routerLink]="['/meals', meal.id, 'reviews']" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <br>
        <br>