<h4> Delicious Home Meals Around You</h4>
<br>
<div class="row align-items-center shadow mb-3">
    <div class="col-4 col-md-4 bar"><a class="btn" href="#">All</a></div>
    <div class="col-4 col-md-4 bar"><a class="btn" href="#">New</a></div>
    <div class="col-4 col-md-4 bar"><a class="btn" href="#">Popular</a></div>
  </div>
  <ul class="nav nav-pills nav-justified shadow mb-3">

<app-meal-item *ngFor="let meal of meals" | category  [meal]="meal"></app-meal-item>


<div *ngIf="meal.location">
  <agm-map [zoom]="15" [latitude]="meal.location[0]" [longitude]="meal.location[1]">
      <agm-marker [latitude]="meal.location[0]" [longitude]="meal.location[1]"></agm-marker>
  </agm-map>
</div> 
