<br>
<h3>Create Your Review</h3>

<form class="mb-3 shadow p-3 mb-3 bg-white rounded" action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Content</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write your review here, please madafaka"rows="3"></textarea>
        </div>
      <div class="form-group">
          <label for="exampleFormControlSelect1">Rate from 1 to 5</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
