
.organge-bg {
  background-color: #ef6c2f !important; 
}
 

.color-blue {
  background: #0accff;
  color:#ffff;
  width:  100%;
  font-size: 24px; 
 
}

.radius20 {
      border-radius: 10px ;
      box-shadow: 0px 6px 10px 0px rgba(0,0,0,1);
}

.color-gray {
  background-color: #b1b1b1; 
  color:#ffff;
  width:  100%;
  font-size: 24px; 
 
}


.title {
  text-align: center; 
  color: #F45225 !important; 
  font-size: 80px; 
}

