<div class="jumbotron text-xs-center">
    <h2 class="display-3">Awesome!</h2>
    <p class="lead"><strong>Your delicious meal is on it's way </strong>
      <i class="fa fa-clock-o"></i>
      <br>
      Sit back and relax while we take care of the rest.
    </p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="#" [routerLink]="['/meals']" role="button">Still hungry? Back to see more meals</a>
    </p>
  </div>